@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

canvas {
  border: none;
  outline: none;
}

@import 'node_modules/bootstrap/scss/bootstrap';

.outline-primary {
  outline: 3px solid theme-color("primary");
}

.outline-secondary {
  outline: 3px solid theme-color("secondary");
}

.outline-purple {
  outline: 3px solid #b603fc;
  background-color: #b603fc;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.border-primary-on-hover {
  &:hover {
    border-color: theme-color("primary") !important;
  }
}

.slider-parameter {
  &:hover {
    background-color: #ddd !important;
  }
}

.slider-parameter-selected {
  background-color: #ccc !important;
  border: 1px solid #999 !important;
}
